/02-Sesion-15-08/Logica/nbproject/private/
/02-Sesion-15-08/Logica/build/
/03-Sesion-22-08/Sesion-22-08/nbproject/private/
/03-Sesion-22-08/Sesion-22-08/build/
/03-Sesion-22-08/Sesion-22-08/dist/
/04-Sesion-29-08/Sesion-29-08/nbproject/private/
/04-Sesion-29-08/Sesion-29-08/build/
/04-Sesion-29-08/Sesion-29-08/dist/
